<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        <title>Raph's app</title>
    </head>

    <body>

        <header>
            <div class="logo"></div>
            <p>Welcome to my app</p>
        </header>

        <main>
            <section>
                <form class="form" onsubmit="return handleSubmit(event)">
                    <span>1 -  Please insert an URL or Text:</span>
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <div id="results"><strong></strong></div>

            <section id ="output" class=''>
                <h2>Result:</h2>
                <div id="polarity"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            udacity Project<br>
            @copyright
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
