@use 'form';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align:center;
    main {
    flex: 2;
    }
}


section{
    max-width: 800px;
    margin: 50px auto;
    div{
        border-radius: 20px;
    }
    &.activated{
        div{
            margin:auto;
            margin-top:10px;
            max-width: 400px;
            border:form.$border;
            border-radius: 20px;
            color:blue
        }
    }
}

.logo{
	max-height: 100%;
	max-width: 100%;
	width:50px;
	height:50px;
	background-size: cover;
	background-image: url('http://pngimg.com/uploads/smiley/smiley_PNG36233.png') ;
}
